[submodule "external/etracker"]
	path = external/etracker
	url = https://github.com/kyberis/etracker.git
[submodule "external/notetaker"]
	path = external/notetaker
	url = https://github.com/kyberis/notetaker.git
[submodule "external/accounts"]
	path = external/accounts
	url = https://github.com/kyberis/trefolio-accounts.git
[submodule "cursor-plugins"]
	path = cursor-plugins
	url = https://github.com/kyberis/cursor-plugins.git
[submodule "external/curriculumsupport"]
	path = external/curriculumsupport
	url = https://github.com/kyberis/curriculumsupport.git
